* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.textobranco{
    color: #EDE7DB;
}

.textoazul{
    color: #001A38;
}

/* home */

.home{
    background-image: url(./img/fundo.png);
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fontecinzel{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.imglogo {
    width: 30%;
    float: right; 
}

.botaoentrar{
    text-decoration: none;
    border: 1px solid #EDE7DB;
    border-radius: 40px;
    padding: 15px;
}

.divlogo{
    padding-top: 50px;
}

.imgcameralivros{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.diventrar{
    position: relative;
    left: 200px;
}

.textentrar{
    margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; 
  justify-items: center;
  align-items: start;
  margin: 10px auto;
  max-width: 1100px;
  padding-top: 30px;
  padding-bottom: 20px;

}

.grid2{
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    gap: 0.5rem;
    justify-items: center;
    align-items: center;
}

.grid3{
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    gap: 0.5rem;
    justify-items: center;
    align-items: center;
    line-height: 15px;
}

.cardfilmehome,
.cardseriehome {
    background-color: #26364E;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.cardlivrohome{
    background-color: #EDE7DB;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}  

.postershome{
    width: 35%;
    border-radius: 10px;
}

.cardfilmehome:hover,
.cardlivrohome:hover,
.cardseriehome:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

/* responsividade home */

@media (max-width: 900px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }

    .imgcameralivros {
        display: none;
    }

    .divlogo {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }
    
    .logo {
        text-align: center;
    }
    
    .imglogo {
        width: 45%;
        float: none;
        margin: 0 auto 10px auto;
        display: block;
    }

    .divlogo h1 {
        text-align: center;
        line-height: 1.3;
    }
    
    .textentrar {
        margin: 10px auto 20px auto;
        max-width: 90%;
        font-size: 1rem;
        line-height: 1.5;
        text-align: center;
        
    }
    
    .botaoentrar {
        display: inline-block;
        font-size: 1rem;
        padding: 12px 25px;
        text-align: center;
        margin: 0 auto;
    }
}


@media (max-width: 600px) {
    .grid {
      grid-template-columns: 1fr;
    }
}

@media (max-width: 1100px) {
    .grid {
      margin-left: 20px;
      margin-right: 20px;
    }
}


  