* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.textobranco{
    color: #EDE7DB;
}

.textoazul{
    color: #001A38;
}

/* home */

.home{
    background-image: url(./img/fundo.png);
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fontecinzel{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.imglogo {
    width: 30%;
    float: right; 
}

.botaoentrar{
    text-decoration: none;
    border: 1px solid #EDE7DB;
    border-radius: 40px;
    padding: 15px;
}

.imgcameralivros{
    width: 60%;
    margin-left: 25%;
    margin-right: 25%;
}

.diventrar{
    position: relative;
    left: 200px;
}

.textentrar{
    margin-bottom: 40px;
}

/* .postershome{
    width: 25%;
}

.cardfilmehome, .cardseriehome{
    background-color: #26364E;
    border-radius: 40px;
    padding: 5px;
}


    border-radius: 40px;
    padding: 5px; 
    display: grid;
    place-items: center;
}

.col-4{
    background-color: #678FC4;
    border-radius: 30px;
}
 */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; 
  justify-items: center;
  align-items: start;
  margin: 10px auto;
  max-width: 1100px;
}

.grid2{
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    gap: 0.5rem;
    justify-items: center;
    align-items: center;
}

.cardfilmehome,
.cardseriehome {
  background-color: #26364E;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s, box-shadow 0.3s;
}

.cardlivrohome{
    background-color: #EDE7DB;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s, box-shadow 0.3s;}

.postershome{
    width: 35%;
    border-radius: 10px;
}

.cardfilmehome:hover,
.cardlivrohome:hover,
.cardseriehome:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}